# 為替レートと株価の相関

In [1]:
import datetime as dt
import japanize_matplotlib
import matplotlib.pyplot as plt
import mplfinance as mpf
import os
import pandas as pd
import yfinance as yf
import wget

In [2]:
start = '2024-07-01'
end = '2024-08-09'
ticker_exchange = yf.Ticker('USDJPY=X')
df = ticker_exchange.history(start=start, end=end, interval='1h')
df.index = df.index.tz_convert('Asia/Tokyo')
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2024-07-01 08:00:00+09:00,160.817001,160.934006,160.768005,160.925003,0,0.0,0.0
2024-07-01 09:00:00+09:00,160.921997,161.186005,160.731003,160.985001,0,0.0,0.0
2024-07-01 10:00:00+09:00,160.992004,161.035004,160.834000,160.919006,0,0.0,0.0
2024-07-01 11:00:00+09:00,160.921997,160.938004,160.830994,160.895996,0,0.0,0.0
2024-07-01 12:00:00+09:00,160.895996,161.072006,160.891006,161.046005,0,0.0,0.0
...,...,...,...,...,...,...,...
2024-08-08 00:00:00+09:00,147.278000,147.690002,147.248993,147.416000,0,0.0,0.0
2024-08-08 01:00:00+09:00,147.417007,147.498001,147.063995,147.177002,0,0.0,0.0
2024-08-08 02:00:00+09:00,147.175003,147.404999,146.960007,147.026993,0,0.0,0.0
2024-08-08 03:00:00+09:00,147.028000,147.033005,146.731995,146.761993,0,0.0,0.0
2024-08-08 08:00:00+09:00,146.520004,146.535004,146.272995,146.313995,0,0.0,0.0