In [7]:
import matplotlib.pyplot as plt
import mplfinance as mpf
import numpy as np
import pandas as pd
import yfinance as yf

symbol = 'YM=F'
ticker = yf.Ticker(symbol)
print(ticker.info['shortName'])

df = ticker.history(period='6mo')
df

Mini Dow Jones Indus.-$5 Dec 24

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-03-25 00:00:00-04:00,39848.0,39853.0,39681.0,39699.000000,96100,0.0,0.0
2024-03-26 00:00:00-04:00,39711.0,39822.0,39657.0,39680.000000,96699,0.0,0.0
2024-03-27 00:00:00-04:00,39754.0,40181.0,39742.0,40144.000000,128240,0.0,0.0
2024-03-28 00:00:00-04:00,40140.0,40240.0,40086.0,40176.000000,105260,0.0,0.0
2024-04-01 00:00:00-04:00,40158.0,40358.0,39709.0,39894.000000,122809,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-16 00:00:00-04:00,41422.0,41786.0,41388.0,41660.000000,91320,0.0,0.0
2024-09-17 00:00:00-04:00,41656.0,41872.0,41502.0,41639.000000,62078,0.0,0.0
2024-09-18 00:00:00-04:00,41652.0,42026.0,41470.0,41526.000000,32390,0.0,0.0
2024-09-19 00:00:00-04:00,41592.0,42190.0,41580.0,42057.000000,24247,0.0,0.0
2024-09-20 00:00:00-04:00,42078.0,42097.0,41836.0,41946.089844,114933,0.0,0.0